body {
    background-image: url(Kepek/hatterkep.webp);
    background-repeat: no-repeat;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    padding: 100px;
}

p {
    margin-bottom: 50px;
}