body {
    background-image: url(Kepek/hatterkep.webp);
    background-repeat: no-repeat;
    background-size: auto;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    padding: 100px;
}

p {
    margin-bottom: 50px;
}

#kartya {
    height: 500px;
    width: auto;
}

#thumbnail {
    height: 120px;
}

.card {
    margin-top: 350px;
}

#szoveg {
    margin-top: 500px;
    margin-left: 500px;
    font-weight: bold;
    text-align: right;
}

#elkoszono {
    color: black;
    text-align: center;
}

.jegyek {
    margin-top: 150px;
    width: 600px;
    margin-left: 550px;
    text-align: center;
}

h1 {
    text-align: center;
}

hr {
    color: black;
}