body {
    background-image: url(Kepek/hatterkep.webp);
    background-repeat: no-repeat;
    background-size: auto;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    padding: 100px;
    padding-top: 150px;
}

p {
    margin-bottom: 50px;
}

#kartya {
    height: 500px;
    width: 500px;
}

#thumbnail {
    height: 120px;
}

.card {
    margin-top: 350px;
}

#szoveg {
    margin-top: 500px;
    margin-left: 500px;
    font-weight: bold;
    text-align: right;
}

#elkoszono {
    color: black;
    text-align: center;
}

table {
    margin-top: 200px;
    width: 700px;
    font-size: xx-large;
    color: black;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.719);
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

th {
    padding-bottom: 50px;
}

.nap {
    padding-right: 200px;
}

#hatteroldal2 {
    background-image: url(Kepek/hatter_tigris.jpg);
    background-size: cover;
}

#hatteroldal4 {
    background-image: url(Kepek/Giraffe-Zoom-Background.jpg);
}

#nyitvatartasfelirat {
    text-align: center;
    margin-top: 100px;
    color: black;
    margin-right: 50px;
}

#felhivas {
    color: black;
    font-size: x-large;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.705);
} 

#felhivas2 {
    font-size: xx-large;
    text-align: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.692);
}

.rolunk {
    font-weight: bolder;
    font-size: x-large;
    margin-top: 700px;
    word-spacing: 5px;
    background-color: rgba(255, 255, 255, 0.486);
    color: black;
}

#rolunk2 {
    font-size: xx-large;
}

#oldal5 {
    background-image: url(Kepek/Állatos-Háttérkép-párduc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#jegyszoveg {
    color: black;
}

.helyszincim {
    font-weight: 700;
    font-size: 2.2rem;
    max-width: 960px;
    margin: 20px auto 0;
    text-align: center;
    line-height: 1.6;
}

.szoveg {
    padding: 60px 20px;
    text-align: center justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: bisque;
    font-weight: 700;
    font-size: 2rem;
    max-width: 960px;
    margin: 0 auto;
    line-height: 1.6;
}

#elhelyezkedesszoveg {
    color: black;
    font-size: larger;
}

#felsorolascim {
    font-weight: 700;
    font-size: 2.2rem;
    max-width: 960px;
    margin: 20px auto 0;
    text-align: center;
    line-height: 1.6;
    color: black;
}